[includeIf "gitdir:~/git/generic/"]
path = ~/git/generic/.gitconfig

[includeIf "gitdir:~/git/mushroom/"]
path = ~/git/mushroom/.gitconfig

[includeIf "gitdir:~/git/sanity/"]
path = ~/git/sanity/.gitconfig

[core]
editor = nvim
pager = delta

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
side-by-side = true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
